*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #8f8f8f;
}
body{
    height: 100vh;
    background-color: #2C2D40;
    display: flex;
    flex-direction: column;
    padding-inline: 12vh;
    font-family: "Jersey 10", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}