* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #ffffff;
    --secondary-color: #8d8d8d;
    --tertiary-color: #232544;
    --quaternary-color: #2C2D40;
}
body {
    background-color: var(--quaternary-color);
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    background-color: var(--tertiary-color);
    height: 9vh;
    display: flex;
    justify-content: space-evenly;
}
header a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2vh;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}
header img {
    width: auto;
    height: auto;
    border: none;
}
.pesquisa {
    display: flex;
    justify-content: center;
    margin: 5vh;
}
input {
    width: 300px;
    padding: 10px;
    border: 2px solid #1598c0;
    border-radius: 5px;
    font-size: 16px;
}
input:focus {
    outline: none;
    border-color: #0056b3;
}
button {
    width: 150px;
    padding: 10px;
    background-color: #1598c0;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(21, 152, 192, 0.5);
}
.game {
    margin: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.game:hover {
    transform: scale(1.05);
}
img {
    width: 17vw;
    margin: 5px;
    border: 2px solid white;
}
.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}